<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SIPServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <appSettings>
            <add key="BasePort" value="6001"/>
            <add key="ListeningPorts" value="1"/>
            <add key="Delimiter" value="|"/>
            <add key="Logging" value="True"/>
            <add key="PatronName" value="John Doe"/>
            <add key="ItemTitle" value="Test Title"/>
            <add key="CheckoutDueDateFormat" value="M/d/yyyy"/>
            <add key="EmailAddress" value=""/>
            <add key="CodePage" value="1252"/>
    </appSettings>
  <userSettings>
    <SIPServer.Properties.Settings>
      <setting name="BasePort" serializeAs="String">
        <value>6001</value>
      </setting>
      <setting name="ListeningPorts" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Delimiter" serializeAs="String">
        <value>|</value>
      </setting>
      <setting name="Logging" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PatronName" serializeAs="String">
        <value>John Doe</value>
      </setting>
      <setting name="ItemTitle" serializeAs="String">
        <value>Test Title</value>
      </setting>
      <setting name="CheckoutDueDateFormat" serializeAs="String">
        <value>M/d/yyyy</value>
      </setting>
      <setting name="EmailAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="CodePage" serializeAs="String">
        <value>1252</value>
      </setting>
      <setting name="MainWindow" serializeAs="String">
        <value>718, 267</value>
      </setting>
    </SIPServer.Properties.Settings>
  </userSettings>
</configuration>
